@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@RenderSection("Title")</title>
    <link rel="stylesheet" href="~/Content/Site.css">
    @RenderSection("StyleSheets", false)
</head>
<body>
    <header>
        <div class="mainMenu">
            <ul id="mainMenuList">
                <li><a href="/">Home</a></li>
                <li><a href="/Documentation/Readme.md">Documentation</a></li>
                <li><a href="/Search">Search</a></li>
                <li><a href="/GraphView">Graph View</a></li>
            </ul>
        </div>
    </header>

    <!--Main Page-->
    @RenderBody()
    <footer>
        <a href="~/Content/TermsOfUse.txt">Terms of Use</a> <a href="~/Content/PrivacyPolicy.txt">Privacy Policy</a> <a href="/SystemStatus">System Status</a> <a href="https://github.com/GuMiner/napack/pulls">Contribute</a> <a href="https://github.com/GuMiner/napack/issues">File a Bug</a>
        <br />
        Copyright &copy; Gustave Granroth, @(DateTime.UtcNow.Year). <a href="https://github.com/GuMiner/napack/blob/master/LICENSE">License</a>
    </footer>

    <!--Scripts!-->
    @RenderSection("Scripts", false)
</body>
</html>
