@{
    Layout = "RootLayout.cshtml";
    string pageName = "Search";

    string searchTextBox = "searchTextBox";
    string searchButton = "searchButton";

    string loadMoreSearchButton = "loadMoreSearchButton";
    string resultsHolder = "resultsHolder";
    string resultsHeader = "resultsHeader";

    string errorsText = "errorsText";

    string urlSearchQuery = "/search/query";
    string napackRetrievalQuery = "/napacks/";
    int resultsToGet = 20;
}

@section Title {@pageName}

<div id="body">
    <div class="titleFlag" style="width: 90px;"></div>
    <h2 class="titleFlagCompensation">@pageName</h2>
    
    <input class="searchBox" id="@searchTextBox" type="text" value="" />
    <br />
    <button id="@searchButton" class="searchButton">Search</button>
    <span class="errorSubbox" id="@errorsText" hidden></span>

    <h2 id="@resultsHeader" hidden>Results</h2>
    <ul id="@resultsHolder"></ul>
    <button id="@loadMoreSearchButton" hidden>Load More</button>
</div>

@section Scripts{
    <script type="text/javascript" src="~/Content/Scripts/jquery-3.1.1.js"></script>
    <script type="text/javascript">
        var currentSkipAmount = 0;

        function loadResults(data) {
            if (data.results.length === 0) {
                $("#@errorsText").text("No results found");
                $("#@resultsHeader").hide();
                $("#@errorsText").show();
            } else {
                $("#@resultsHeader").show();
            }

            var prefix = "<li><div class=\"napack\">";
            var postfix = "</div></li>";
            for (var i = 0; i < data.results.length; i++) {
                var moreDetails = "<a id='" + data.results[i].name + "link' href='#' data-napackname='" + data.results[i].name + "' onclick='ToggleTrigger(this)'>More Details</a>" +
                    "<span class='moreDetails' id='" + data.results[i].name + "details'></span>";
                var top = "<b>" + data.results[i].name + "</b>. <small>Downloads: " + data.results[i].downloads + ". Relevance: " + data.results[i].relevance + ".</small>";
                var middle = data.results[i].description + " " + moreDetails;
                var bottom = "<small> Last Update Time: " + data.results[i].lastUpdateTime + ". License: " + data.results[i].licenseType + ". Views: " + data.results[i].views + ".</small>";

                $("#@resultsHolder").append(prefix + top + "<br />" + middle + "<br />" + bottom + postfix);
            }

            // Update the load more button to allow for incremental searches.
            currentSkipAmount += data.results.length;
            if (data.canContinue) {
                $("#@loadMoreSearchButton").show();
            } else {
                $("#@loadMoreSearchButton").hide();
            }
        }

        function formSearchUri() {
            return "@urlSearchQuery" + "?$skip=" + currentSkipAmount + "&$top=" + @resultsToGet + "&search=" + $("#@searchTextBox").val();
        }

        function performSearch() {
            $("#@errorsText").hide();

            $.ajax({
                url: formSearchUri(),
                type: 'GET',
                success: function (data) {
                    loadResults(data);
                },
                error: function (data) {
                    $("#@errorsText").text(data.responseText);
                    $("#@errorsText").show();
                }
            });
        }

        function ToggleTrigger(item) {
            var itemName = $(item).data('napackname');
            var elementName = itemName + "details";
            var linkName = itemName + "link";

            if ($("#" + elementName).html().length > 0) {
                // We've already retrieved data, so don't perform the network query again.
                if ($("#" + elementName).is(':hidden')) {
                    $("#" + elementName).show();
                    $("#" + linkName).text("Hide");
                } else {
                    $("#" + elementName).hide();
                    $("#" + linkName).text("More Details");
                }

            }
            else {
                $.ajax({
                    url: @napackRetrievalQuery + itemName,
                    type: 'GET',
                    success: function (data) {
                        var majorVersions = data.validVersions.join();
                        var moreInfo = data.moreInformation;
                        var tags = data.tags.join();
                        $("#" + linkName).text("Hide");
                        $("#" + elementName).html("<br />Major Versions: " + majorVersions + "<br/><small>More information: <a href='" + moreInfo + "'>" + moreInfo + "</a> Tags: " + tags + "</small>");
                    },
                    error: function (data) {
                        $("#@errorsText").text(data.responseText);
                        $("#@errorsText").show();
                    }
                });
            }
        }

        $("#@loadMoreSearchButton").click(function () {
            performSearch();
        });


        function handleSearchButtonClick() {
            // Clicking search again clears all existing search results.
            $("#@resultsHolder").empty();
            currentSkipAmount = 0;

            performSearch();
        }

        $("#@searchButton").click(function () {
            handleSearchButtonClick();
        });

        $("#@searchTextBox").keyup(function (e) {
            var code = e.originalEvent.code;
            if (code == "Enter") {
                handleSearchButtonClick();
            }
        });
    </script>
}