@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<Napack.Server.StatusModel>
@model Napack.Server.StatusModel

@{
    Layout = "RootLayout.cshtml";
    string pageName = "System Status";
}

@section Title {@pageName}

<div id="body">
    <div class="titleFlag" style="width: 180px;"></div>
    <h2 class="titleFlagCompensation">@pageName</h2>
    <h3>Uptime</h3>
    @Model.Uptime.Days days, @Model.Uptime.Hours hours, @Model.Uptime.Minutes minutes, and @Model.Uptime.Seconds seconds
    <h3>Total Calls Since Last Restart</h3>
    @Model.TotalCalls total calls
    <h3>Unique IPs Since Last Restart</h3>
    @Model.UniqueIps unique IP addresses
</div>
    